a:link, a:visited{
	text-decoration: none;
	text-decoration-color: #a0a688;
	color: #d1d6bf;
}

a:hover, a:active{
	color: #dbdbdb;
	text-decoration-color: #dbdbdb;
}

html{
	background-color: rgb(56, 56, 59);
	caret-color: transparent;
	color: white;
}


canvas{
	background-color: rgb(197, 182, 158);
	margin-top: 5vh;
}
