a:link, a:visited{
	text-decoration: none;
	text-decoration-color: #a0a688;
	color: #d1d6bf;
}

a:hover, a:active{
	color: #dbdbdb;
	text-decoration-color: #dbdbdb;
}

html{
	background-color: rgb(236, 231, 223);
	caret-color: transparent;
}


canvas{
	background-color: rgb(211, 187, 148);
	margin-top: 5vh;
}
